PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "_prisma_migrations" (
    "id"                    TEXT PRIMARY KEY NOT NULL,
    "checksum"              TEXT NOT NULL,
    "finished_at"           DATETIME,
    "migration_name"        TEXT NOT NULL,
    "logs"                  TEXT,
    "rolled_back_at"        DATETIME,
    "started_at"            DATETIME NOT NULL DEFAULT current_timestamp,
    "applied_steps_count"   INTEGER UNSIGNED NOT NULL DEFAULT 0
);
INSERT INTO _prisma_migrations VALUES('634e541c-c827-43d2-8bec-2f87807c741c','4e6820f8d594579c4a8a0de8015b0b34ab9e42acd6745edeef2df51c27f2a355',1775528582191,'20260407022302_final_fix',NULL,NULL,1775528582148,1);
CREATE TABLE IF NOT EXISTS "Asset" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "tag" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'Available',
    "manufacturer" TEXT,
    "modelNo" TEXT,
    "serialNo" TEXT,
    "unitCost" REAL,
    "location" TEXT,
    "employeeId" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL, purchaseDate TEXT, notes TEXT, receipt TEXT, checkoutDate TEXT, expectedCheckinDate TEXT, isArchived INTEGER DEFAULT 0, archivedAt TEXT, archivedById TEXT, archivedByName TEXT,
    CONSTRAINT "Asset_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "Employee" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);
INSERT INTO Asset VALUES('b87e8328-eff0-4807-8cb9-2877007dc36d','CB-LAP-0001','Office Laptop 1','Laptop','Available','Dell','Latitude 5420','DL5420-9F3K2L',34987.0,'MIS',NULL,'2026-04-13 05:15:48','2026-04-13 05:15:48','','',NULL,NULL,NULL,0,NULL,NULL,NULL);
INSERT INTO Asset VALUES('68364cb7-dabc-4e40-884e-60a224f27180','CB-LAP-0002','Dev Laptop 1','Laptop','Deployed','hp','elitebook 840 G8','HP840G8-A7X92Q',76000.0,'MIS','fa961050-7ed1-4fb7-a10c-9e6cb89af519','2026-04-13 05:20:16','2026-04-13 05:20:48','',NULL,NULL,'2026-04-13','2030-04-14',0,NULL,NULL,NULL);
INSERT INTO Asset VALUES('203dfbfe-5e42-408f-97d8-ac8b03754036','CB-LAP-0003','Admin Laptop','Laptop','Available','LENOVO','ThinkPad T14','LNV-T14-88KLM2',138000.0,'mis',NULL,'2026-04-13 05:24:08','2026-04-13 05:24:08','','',NULL,NULL,NULL,0,NULL,NULL,NULL);
CREATE TABLE IF NOT EXISTS "Accessory" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "modelNo" TEXT,
    "location" TEXT,
    "minQty" INTEGER NOT NULL DEFAULT 2,
    "total" INTEGER NOT NULL DEFAULT 0,
    "checkedOut" INTEGER NOT NULL DEFAULT 0
, createdAt TEXT, isArchived INTEGER DEFAULT 0, archivedAt TEXT, archivedById TEXT, archivedByName TEXT);
INSERT INTO Accessory VALUES('50d67542-c5f7-4524-8b45-733dae74f1a1','Laptop Charger','Charger','65W USB-C','MIS',2,10,2,'2026-04-13',0,NULL,NULL,NULL);
INSERT INTO Accessory VALUES('896ab4c2-17ee-4778-be6b-601b0b4e2350','Docking Station','Docking Station','USB-C Dock G5','MIS',2,5,0,'2026-04-13',0,NULL,NULL,NULL);
INSERT INTO Accessory VALUES('ce2d29dd-eb98-45b2-acf6-4316930441a0','HDMI Cable','Cables','2m HDMI 2.0','MIS',5,13,0,'2026-04-13',0,NULL,NULL,NULL);
CREATE TABLE IF NOT EXISTS "Employee" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL
, department TEXT, role TEXT, avatar TEXT, createdAt TEXT, isArchived INTEGER DEFAULT 0, archivedAt TEXT, archivedById TEXT, archivedByName TEXT, employeeNumber TEXT, password TEXT, phone TEXT, jobTitle TEXT);
INSERT INTO Employee VALUES('fa961050-7ed1-4fb7-a10c-9e6cb89af519','Clint perlas','clintperlas@gmail.com','Admin','Superuser','https://ui-avatars.com/api/?name=Clint%20perlas&background=0f172a&color=38bdf8','2026-04-13',0,NULL,NULL,NULL,'001234','123456789','','');
INSERT INTO Employee VALUES('caec8b03-6219-41b4-8c2a-9304ae2e4d71','Walter del rosario','walterdr@proton.com','MIS Department','Superuser','https://ui-avatars.com/api/?name=Walter%20del%20rosario&background=0f172a&color=38bdf8','2026-04-13',0,NULL,NULL,NULL,'00317','','','');
INSERT INTO Employee VALUES('05f3273b-b907-4c08-8fb7-7d4a36d81061','User','viewer@centralbooks.com','HR','User','https://ui-avatars.com/api/?name=User&background=0f172a&color=38bdf8','2026-04-15',0,NULL,NULL,NULL,'','','','');
CREATE TABLE IF NOT EXISTS "AssetLog" (
    "id" INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    "assetId" TEXT NOT NULL,
    "employeeId" TEXT,
    "action" TEXT NOT NULL,
    "notes" TEXT,
    "timestamp" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "AssetLog_assetId_fkey" FOREIGN KEY ("assetId") REFERENCES "Asset" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "AssetLog_employeeId_fkey" FOREIGN KEY ("employeeId") REFERENCES "Employee" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);
CREATE TABLE Component (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                name TEXT NOT NULL,
                category TEXT NOT NULL,
                model TEXT,
                location TEXT,
                total INTEGER NOT NULL,
                remaining INTEGER NOT NULL,
                minQty INTEGER DEFAULT 0
            , status TEXT, assignedTo TEXT, checkoutDate TEXT, expectedCheckinDate TEXT, notes TEXT, unitCost REAL DEFAULT 0, createdAt TEXT, isArchived INTEGER DEFAULT 0, archivedAt TEXT, archivedById TEXT, archivedByName TEXT);
INSERT INTO Component VALUES(1,'512GB SSD','STORAGE (SSD/HDD)','SSD-512-NVME','MIS',40,40,10,'AVAILABLE',NULL,NULL,NULL,NULL,0.0,'2026-04-21T06:37:24.936Z',0,NULL,NULL,NULL);
INSERT INTO Component VALUES(2,'Power Supply 500W','POWER','PSU-500W-ATX','MIS',10,10,5,'AVAILABLE',NULL,NULL,NULL,NULL,0.0,'2026-04-21T06:37:24.936Z',0,NULL,NULL,NULL);
INSERT INTO Component VALUES(3,'8GB DDR4 RAM','MEMORY (RAM)','DDR4-8GB-2666','MIS ',40,40,10,'AVAILABLE',NULL,NULL,NULL,NULL,0.0,'2026-04-21T06:37:24.936Z',0,NULL,NULL,NULL);
CREATE TABLE ComponentAssignments (
                id INTEGER PRIMARY KEY AUTOINCREMENT,
                componentId INTEGER NOT NULL,
                assetId INTEGER NOT NULL,
                assignedDate DATETIME DEFAULT CURRENT_TIMESTAMP,
                FOREIGN KEY (componentId) REFERENCES Component(id)
            );
CREATE TABLE Consumable (
      id           TEXT PRIMARY KEY,
      name         TEXT NOT NULL,
      category     TEXT,
      modelNo      TEXT,
      location     TEXT,
      itemNo       TEXT,
      orderNumber  TEXT,
      purchaseDate TEXT,
      minQty       INTEGER DEFAULT 0,
      total        INTEGER DEFAULT 0,
      remaining    INTEGER DEFAULT 0,
      unitCost     REAL DEFAULT 0,
      createdAt    TEXT DEFAULT (datetime('now'))
    , isArchived INTEGER DEFAULT 0, archivedAt TEXT, archivedById TEXT, archivedByName TEXT);
INSERT INTO Consumable VALUES('1790f2b7-7a72-459a-9a6d-53b7413a1d57','Ink Cartridge Black','Printer Ink','HP-INK-BLK-680','Production','8473156','PO-9981','2026-04-13',4,20,20,950.0,'2026-04-13 05:56:13',0,NULL,NULL,NULL);
INSERT INTO Consumable VALUES('1c1796ab-3b96-43b8-b282-35a4e964b6d4','Ink Cartridge Color','Printer Ink','CAN-INK-CL-811','Publishing On Demand','6621983','PO-9985','2026-04-10',6,18,20,1200.0,'2026-04-13 05:57:44',0,NULL,NULL,NULL);
INSERT INTO Consumable VALUES('d85f8cea-4083-4927-8a89-e40437743f9d','A4 Bond Paper 80gsm','Paper','A4-80G-DA','Production','7712459','PO-10012','2026-04-08',30,120,20,250.0,'2026-04-13 06:00:40',0,NULL,NULL,NULL);
CREATE TABLE License (
      id             TEXT PRIMARY KEY,
      name           TEXT NOT NULL,
      key            TEXT,
      manufacturer   TEXT,
      licensedEmail  TEXT,
      expirationDate TEXT,
      minQty         INTEGER DEFAULT 2,
      total          INTEGER DEFAULT 0,
      avail          INTEGER DEFAULT 0,
      createdAt      TEXT DEFAULT (datetime('now'))
    , unitCost REAL DEFAULT 0, isArchived INTEGER DEFAULT 0, archivedAt TEXT, archivedById TEXT, archivedByName TEXT);
INSERT INTO License VALUES('0d778113-ec19-4b91-a0f2-34a00a3096da','Microsoft Office 365','XXXX-YYYY-ZZZZ-1111','Microsoft','walterdr@proton.com','2030-12-31',2,47,10,'2026-04-13 05:31:42',0.0,0,NULL,NULL,NULL);
INSERT INTO License VALUES('2395b9dd-e4d9-4a1e-8917-69d2f5734a8f','Windows 11 Pro','WIN11-PRO-8822-ABCD','microsoft','clintperlas@gmail.com','',2,100,76,'2026-04-13 05:33:45',0.0,0,NULL,NULL,NULL);
INSERT INTO License VALUES('0217e55a-e18c-4a6b-b0b7-75f0ef21afde','Adobe Photoshop','ADB-PS-9922-XYZ','Adobe','','2030-10-15',2,20,5,'2026-04-13 05:42:30',0.0,0,NULL,NULL,NULL);
CREATE TABLE Maintenance (
      id        TEXT PRIMARY KEY,
      assetName TEXT,
      issue     TEXT,
      status    TEXT DEFAULT 'Pending',
      priority  TEXT DEFAULT 'Medium',
      cost      REAL DEFAULT 0,
      startDate TEXT,
      createdAt TEXT DEFAULT (datetime('now'))
    , title TEXT, description TEXT, submittedBy TEXT, submittedById TEXT, submittedAt TEXT, assetId TEXT, category TEXT, updatedAt TEXT, isArchived INTEGER DEFAULT 0, archivedAt TEXT, archivedById TEXT, archivedByName TEXT);
INSERT INTO Maintenance VALUES('ab53311c-c652-48c7-afd9-52670a6f891c','Malware','Worms in the asset','Open','High',0.0,'2026-04-21T07:20:19.751Z','2026-04-21T07:20:19.775Z','Malware','Worms in the asset','Admin user (1)','134278e2-7c24-4faf-9a5e-a1d0a2554802','2026-04-21T07:20:19.751Z','','Hardware','2026-04-21T07:20:19.775Z',0,NULL,NULL,NULL);
CREATE TABLE Request (
      id            TEXT PRIMARY KEY,
      requestNumber TEXT,
      requestorName TEXT,
      department    TEXT,
      managerName   TEXT,
      dateSubmitted TEXT,
      items         TEXT DEFAULT '[]',
      status        TEXT DEFAULT 'Pending',
      createdAt     TEXT DEFAULT (datetime('now'))
    , submittedById TEXT, submittedByEmail TEXT, isArchived INTEGER DEFAULT 0, archivedAt TEXT, archivedById TEXT, archivedByName TEXT);
INSERT INTO Request VALUES('05ebaecf-9cc6-4167-824c-dcb66f080865','REQ-2026-1645','Admin user (1)','Operations','','April 21, 2026','[{"id":1776739651621,"type":"Laptop","customType":"","processor":"","ram":"","quantity":1}]','Pending','2026-04-21 02:47:48','134278e2-7c24-4faf-9a5e-a1d0a2554802','admin1@centralbooks.com',0,NULL,NULL,NULL);
CREATE TABLE AuditLog (
      id        TEXT PRIMARY KEY,
      timestamp TEXT,
      type      TEXT,
      entity    TEXT,
      message   TEXT,
      user      TEXT DEFAULT 'ADMIN',
      createdAt TEXT DEFAULT (datetime('now'))
    );
INSERT INTO AuditLog VALUES('eb81d102-452f-4b58-90a1-cd21bf0c2cf5','4/13/2026, 1:15:48 PM','ADDED','Office Laptop 1','CB-LAP-0001 registered in assets','ADMIN','2026-04-13 05:15:48');
INSERT INTO AuditLog VALUES('b2462620-88db-4df9-b401-b0899d65214b','4/13/2026, 1:16:36 PM','ADDED','Clint perlas','Employee onboarded to MIS','ADMIN','2026-04-13 05:16:36');
INSERT INTO AuditLog VALUES('b14df716-ccb0-483b-8935-9481be48f4c2','4/13/2026, 1:20:16 PM','ADDED','Dev Laptop 1','CB-LAP-0002 registered in assets','ADMIN','2026-04-13 05:20:16');
CREATE TABLE ComponentAssignment (
      id TEXT PRIMARY KEY,
      componentId TEXT NOT NULL,
      assetId TEXT NOT NULL,
      quantity INTEGER NOT NULL DEFAULT 1,
      assignedAt TEXT NOT NULL,
      checkoutDate TEXT,
      expectedCheckinDate TEXT,
      assignedById TEXT,
      assignedByName TEXT,
      notes TEXT,
      status TEXT NOT NULL DEFAULT 'ACTIVE',
      removedAt TEXT
    );
INSERT INTO ComponentAssignment VALUES('ddd1df6a-76c7-4c48-93d1-0f8cc50a340a','4','ce9f8726-9d2e-4737-83bf-58ed4fc3f952',1,'2026-04-22T03:26:39.374Z','2026-04-22',NULL,'134278e2-7c24-4faf-9a5e-a1d0a2554802','Admin user (1)',NULL,'ACTIVE',NULL);
CREATE TABLE AccessoryAssignment (
      id TEXT PRIMARY KEY,
      accessoryId TEXT NOT NULL,
      assetId TEXT NOT NULL,
      quantity INTEGER NOT NULL DEFAULT 1,
      assignedAt TEXT NOT NULL,
      assignedById TEXT,
      assignedByName TEXT,
      notes TEXT,
      status TEXT NOT NULL DEFAULT 'ACTIVE',
      removedAt TEXT
    );
INSERT INTO AccessoryAssignment VALUES('3e990ec8-9820-4cec-a545-649b7b0bc767','50d67542-c5f7-4524-8b45-733dae74f1a1','ce9f8726-9d2e-4737-83bf-58ed4fc3f952',1,'2026-04-22T03:28:31.206Z','134278e2-7c24-4faf-9a5e-a1d0a2554802','Admin user (1)',NULL,'ACTIVE',NULL);
PRAGMA writable_schema=ON;
CREATE TABLE IF NOT EXISTS sqlite_sequence(name,seq);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('Component',7);
CREATE UNIQUE INDEX "Asset_tag_key" ON "Asset"("tag");
CREATE UNIQUE INDEX "Asset_serialNo_key" ON "Asset"("serialNo");
CREATE UNIQUE INDEX "Employee_email_key" ON "Employee"("email");
CREATE INDEX idx_component_assignment_component
    ON ComponentAssignment(componentId, status)
  ;
CREATE INDEX idx_component_assignment_asset
    ON ComponentAssignment(assetId, status)
  ;
CREATE INDEX idx_accessory_assignment_accessory
    ON AccessoryAssignment(accessoryId, status)
  ;
CREATE INDEX idx_accessory_assignment_asset
    ON AccessoryAssignment(assetId, status)
  ;
CREATE UNIQUE INDEX idx_employee_employeeNumber_unique
    ON Employee(employeeNumber)
    WHERE employeeNumber IS NOT NULL AND trim(employeeNumber) != ''
  ;
PRAGMA writable_schema=OFF;
COMMIT;
